<div class="navbar">
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/demo">Contact</a></li>
    <li><a href="https://techup.live" target="_blank">🔗 TechUp Live</a></li>
  </ul>
</div>