h1 {
    color: darkgreen;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}


.menu {
    float: right;
    text-align: center;
}

.menu a {
    padding: 8px;
    margin-top: 7px;
    display: inline-block;
    width:100%;
    background-color: bisque
}

h3 {
    margin-top: 0px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 2rem;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.container {
    max-width: 500px;
    margin: 0 auto;
}

