<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
    <link rel="stylesheet" href="/css/navBarStyle.css" >

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5N49F1ZJB2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5N49F1ZJB2');
    </script>

</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information about the about page -->
        <div class="welcome-container">
            <h1>How this works?</h1>
        </div>

        <div class="about-container">
            <img src="/images/team.jpg" alt="Team winning" width="1000"
            <div class="card">
        
                <p>Thinking of trying out a new sport? Simply search up the sport you intend to rent equipment from, and there will be users listing out their items for you to choose from. They might even be available to play the sport together with you!</p>   
                <br>
                
        </div>

    </main>
</body>
</html>