<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
    <link rel="stylesheet" href="/css/navBarStyle.css" >
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information about the about page -->
        <div class="welcome-container">
            <h1>About</h1>
        </div>

        <div class="about-container">
            <img src="/images/team.jpg" alt="Team winning" width="1000"
            <div class="card">
            
            <h2>How this works?</h2>
                <p>Simply search for the sport that you are inclined to try out, and you can easily get your equipment at a low rate from other friendly users!</p>   
                <br>
                <a href="/detail" class="button" role="button">Start exploring</a>
        </div>

    </main>
</body>
</html>