<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
    <link rel="stylesheet" href="/css/navBarStyle.css" >

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5N49F1ZJB2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5N49F1ZJB2');
</script>

</head>

<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information about the about page -->
        <div class="welcome-container">
            <h1>What do you want to know?</h1>
        </div>

        <h2>Renting equipment</h2>
        <p><strong>What types of sports equipment can I rent?</strong></p>
        <p>The platform offers a range of sports equipment including, but not limited to, tennis rackets, surfboards, balls and more.</p>
        <p><strong>What condition is the equipment in?</strong></p>
        <p>Each listing includes details about the condition of the equipment. Renters are encouraged to leave feedback, so future users know what to expect.</p>
        <p><strong>Can I negotiate the rental price?</strong></p>
        <p>Some owners may be open to negotiation. You can message them further to discuss terms.</p>

        <h3>Booking and Payment</h3>
        <p><strong>How do I make a booking?</strong></p>
        <p>You can book equipment by clicking on 'Submitting your interest' and filling up a form. The owner will then contact you if your booking is confirmed.</p>
        <p><strong>What payment methods are accepted?</strong></p>
        <p>The platform may accept credit/debit cards, online payment services like PayNow, and other options depending on what is integrated.</p>
        <p><strong>What happens if I damage the equipment?</strong></p>
        <p>If equipment is damaged during the rental period, you will be subjected to additional costs. Specific policies vary per listing, so it’s best to review each owner’s terms.</p>
    
    <h4>Pickup, Delivery, and Return</h4>
    <p><strong>How do I pick up the equipment?</strong></p>
    <p>It will vary per owner. The location will be included in the owner's listing.</p>
    <p><strong>What if I return the equipment late?</strong></p>
    <p>Late returns may incur additional fees. Each listing should state the policy on late returns, so make sure to review this before renting.</p>
    <p><strong>Can I cancel my booking?</strong></p>
    <p>Yes, but cancellation policies vary. Some listings may offer free cancellation up to a certain time before the rental, while others might have stricter policies.</p>