<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/frontPageStyle.css" >
    <link rel="stylesheet" href="/css/navBarStyle.css" >


    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5N49F1ZJB2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5N49F1ZJB2');
</script>

</head> 

<body>

    <!-- Navbar which can be reused across other pages -->
    <%- include('../partials/navbar'); %>
  <div class="container">

    <h1>PLAY IT FORWARD</h1>
    <h2>Try it out first, and see if it is right for you!</h2>
    <hr width="100%" size="2">
    
    <div>
      <h3>Play a sport for fun.</h3>
      <p>Start exploring various sports hassle-free! Your local platform for renting and sharing sports equipment, and much more!</p>
      <a href="/detail" class="button" role="button">Start exploring</a>
    </div>
  </div>

</body>
</html>



