<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/frontPageStyle.css" >
    <link rel="stylesheet" href="/css/navBarStyle.css" >


    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5N49F1ZJB2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5N49F1ZJB2');
</script>

</head> 

<body>

    <!-- Navbar which can be reused across other pages -->
    <%- include('../partials/navbar'); %>
    <div class="grid offset-top">
      <div><img src="/images/sportsicon.png" class="left-decor" /></div>
      <div><img src="/images/sportsicon.png" class="right-decor" /></div>
      
    </div>
  <div class="container">

    <div class="title">SPORT ON</div>
    <div class="subtitle">Try it out first, and see if it is right for you!</div>
    <hr width="100%" size="2">
    
    <div class="section">
      <h2>Play a sport for fun</h2>
      <p>Start exploring multiple sports hassle-free. Your local platform for renting sports equipment, and so much more!</p>
      <a href="/search" class="button" role="button">Start exploring</a>
    </div>
  </div>

  <div class="divider"></div>

    <div class="info-section container">
        <div class="info-box">
            <img class="left-box" src="/images/question.jpg" alt="Question Mark" width="100">
            <h3>How it works?</h3>
            <p>Learn how to rent equipment from other users easily.</p>
        </div>
        <div class="info-box">
            <img class="right-box" src="/images/faqs.jpg" alt="Image of FAQs" width="2000">
            <h3>Frequently Asked Questions</h3>
            <p>Still not sure? Fear not, we got you!</p>
        </div>
    </div>
</div>

</body>
</html>




