<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sports Rentals</title>
  <link rel="stylesheet" href="/css/detailStyle.css" >
  <link rel="stylesheet" href="/css/navBarStyle.css" >
</head>
<body>

  <%- include('../partials/navbar'); %>
  
  <!-- Main Heading -->
  <h1>Sport chosen: Tennis</h1>

  <div class="container">

    <!-- First Card -->
    <div class="card">
        <img src="/images/tennis.jpg" alt="Tennis Shoes" width="400">
        <div class="card-content">
            <h2>zzMonster: Renting my tennis racket and tube of balls</h2>
            <p><strong>Pick-up:</strong> AMK Hub</p>
            <p><strong>Pricing:</strong> $20/month</p>
            <a href="#" class="submit-link">Submit your interest</a>
        </div>
    </div>

    <!-- Second Card -->
    <div class="card">
      <img src="/images/tennis.jpg" alt="Tennis Shoes" width="400">
      <div class="card-content">
        <h2>cookiepie: Renting my tennis shoes</h2>
        <p><strong>Pick-up:</strong> Hougang Mall</p>
        <p><strong>Pricing:</strong> $10/week</p>
        <p><strong>Size of shoes:</strong> 37</p>
        <a href="#" class="submit-link">Submit your interest</a>
      </div>
    </div>
  </div>

</body>
</html>
