<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile: zzMonster</title>
    <link rel="stylesheet" href="/css/Profile.css" >
    <link rel="stylesheet" href="/css/navBarStyle.css" >

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5N49F1ZJB2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5N49F1ZJB2');
</script>

</head>
<body>

    <%- include('../partials/navbar'); %>

<div class="profile-container">
    <h1>Profile: zzMonster <span class="rating-score">4.9/5</span></h1>

    <div class="rating">
        <p>Rate me:</p>
        <div class="star-rating">
            <input type="checkbox" id="star5" name="rating" value="5">
            <label for="star5" title="5 stars">&#9733;</label>
    
            <input type="checkbox" id="star4" name="rating" value="4">
            <label for="star4" title="4 stars">&#9733;</label>
    
            <input type="checkbox" id="star3" name="rating" value="3">
            <label for="star3" title="3 stars">&#9733;</label>
    
            <input type="checkbox" id="star2" name="rating" value="2">
            <label for="star2" title="2 stars">&#9733;</label>
    
            <input type="checkbox" id="star1" name="rating" value="1">
            <label for="star1" title="1 star">&#9733;</label>
        </div>
    </div>
    
    

    <h2>Listings</h2>
    <ul class="listings">
        <li>Renting my tennis racket and a tube of balls</li>
        <div class="card">
            <img src="/images/tennis.jpg" alt="Tennis Shoes" width="400">
            <div class="card-content">
        <li>Renting my soccer boots</li>
        <div class="card">
            <img src="/images/soccer.jpg" alt="Soccer Shoes" width="400" height="400">
            <div class="card-content">
        <li>Renting my surfboard</li>
        <div class="card">
            <img src="/images/surfboard.jpg" alt="Surfboard" width="400"
            <div class="card-content">
    </ul>

    <h2>Testimonials</h2>
    <ul class="testimonials">
        <li>"He always has what I need!"</li>
        <li>"Quick and efficient service!"</li>
    </ul>

    <h2>Contact me</h2>
    <p>Contactable via email or my Telegram handle (<a href="mailto:zzmonster@gmail.com">zzmonster@gmail.com</a> OR <a href="https://t.me/zzmonster" target="_blank">@zzmonster</a>)</p>
</div>

</body>
</html>
